doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/reset.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='http://fonts.googleapis.com/css?family=Exo', rel='stylesheet', type='text/css')

    link(href='http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css', rel='stylesheet')

  body
    block content

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    script(src='http://code.jquery.com/ui/1.11.2/jquery-ui.js')

    script(src='/javascripts/global.js')

    script(src='/javascripts/handlebars.js')


