body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.avatar-icon {
  z-index: 1;
  width: 200px;
}

#activeUsers table thead {
  background-color: red;
}

footer.username {
  font-family: 'Exo', sans-serif;
  font-size: 1.7em;
  text-align: center;
  color: white;
  position: absolute;
  top: 165px;
  left: 0px;
  width: 200px;
  height: 35px;
  background-color: black;
}

header.hiddenField, .hiddenFieldShow {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 75px;
  background-color: yellow;
  position: absolute;
  z-index: 2;
  top: -5px;
  left: 50px;
  padding: 10px;
  border-radius: 5px;
}

header.hiddenField {
  visibility: hidden;
}

header.hiddenFieldShow {
  visibility: visible;
}

#pairingChart article {
  display: inline-block;
  height: 200px;
  opacity: 0.5;
  position: relative;
  margin-top: -3px;
  /*vertical-align: middle;*/
  /*margin-top: -50px;*/
  /*margin-bottom: -50px;*/
}

#pairingChart aside {
  text-align: center;
  font-size: 1em;
  /*margin-bottom: -60px;*/
}

#pairingChart article:hover {
  opacity: 1.0;
}

