body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.avatar-icon {
  z-index: 2;
  width: 200px;
}

#activeUsers table thead {
  background-color: red;
}

footer.username {
  font-family: 'Exo', sans-serif;
  font-size: 1.7em;
  text-align: center;
  color: white;
  position: absolute;
  top: 165px;
  left: 0px;
  width: 200px;
  height: 35px;
  background-color: black;
}

header.hiddenField, .hiddenFieldShow {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 75px;
  background-color: black;
  border: 2px white solid;
  position: absolute;
  z-index: 3;
  top: -5px;
  left: 50px;
  padding: 10px;
  border-radius: 5px;
  opacity: 1.0;
  color: white;
}

header.hiddenField {
  z-index: 3;
  visibility: hidden;
}

header.hiddenFieldShow {
  z-index: 3;
  visibility: visible;
}

#pairingChart article {
  display: inline-block;
  height: 200px;
  opacity: 0.5;
  position: relative;
  margin-top: -3px;
  z-index: 1;
}

#pairingChart aside {
  text-align: center;
  font-size: 1em;
}

#pairingChart article:hover {
  opacity: 1.0;
}

#pairingChart article.userSelect {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#pairingChart article.userSelect:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1.0;
}

